.mainContainer {
  margin-top: 4.5rem;
  border-bottom: 1px solid #f1f1f4;
  padding-bottom: 4rem;
}
.leftColHeading {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
}
.para {
  color: #6d6f79;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.customBtn {
  border: 1px solid #abadba;
  background-color: #ffffff;
  color: #0f1324;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: start;
}
.customBtn:hover {
  border: 1px solid #f57a3d;
  background-color: #feeee7;
  color: #0f1324;
}
.active {
  border: 1px solid #f57a3d;
  background-color: #feeee7;
  color: #0f1324;
}
@media (max-width: 576px) {
  .mainContainer {
    margin-top: 1rem;
    padding: 1.2rem;
  }
  .formControlOne {
    width: 100%;
  }
  .customBtn {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .leftColHeading {
    font-size: 15px;
    line-height: 26px;
  }
}
