.mainContainer {
  margin-top: 4.5rem;
  border-bottom: 1px solid #f1f1f4;
  padding-bottom: 4rem;
}
.leftColHeading {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
}
.activeCard {
  border: 1px solid #f57a3d;
  background-color: #feeee7;
  border-radius: 4px;
}
.activeCard {
  border: 1px solid #f57a3d;
  background-color: #feeee7;
  border-radius: 4px;
}
.inactiveCard {
  border: 1px solid #abadba;
  background-color: #ffffff;
  border-radius: 4px;
}
.customCheckbox input[type="checkbox"] {
  accent-color: #f57a3d;
  border: 3px solid #0f1324;
  width: 24px;
  height: 24px;
}
.customCheckbox input[type="checkbox"]:checked {
  background-color: #f57a3d;
  width: 24px;
  height: 24px;
  border: none;
}
.cardTitle {
  color: #0f1324;
  font-family: " Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
}
.cardDescription {
  color: #0f1324;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}
.cardPrice {
  color: #d92626;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}
@media (max-width: 576px) {
  .mainContainer {
    margin-top: 2.5rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  .leftColHeading {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 1rem;
  }
  .cardTitle {
    font-size: 15px;
    line-height: 26px;
  }
  .cardDescription {
    font-size: 13px;
    line-height: 24px;
  }
  .cardPrice {
    font-size: 15px;
    line-height: 26px;
  }
}
