.links {
  color: #000000;
  font: "Raleway";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 15%;
}
.linkTwo {
  color: #000000;
  font: "Raleway";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 15%;
  border: 1px solid #000000;
  border-radius: 87px;
}
