.mainDiv {
  margin-top: 6rem;
}
.customImage {
  width: 100%;
  max-width: 700px;
}
.topPara {
  color: #0fe5f5;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.topHeading {
  color: #0e032d;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}
.paraOne {
  color: #505c7e;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 1400px) {
  .mainDiv {
    padding: 1.5rem;
  }
}
@media (max-width: 576px) {
  .mainDiv {
    margin-top: 2.5rem;
  }
  .topPara {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }
  .topHeading {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }
  .paraOne {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
