.topHeading {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21.73px;
  color: "Poppins";
  line-height: 29px;
  color: #170f49;
}
.customPara {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.cardOne {
  background-color: #4caf50;
  border-radius: 41px;
  padding: 6rem 2rem;
}
.cardTwo {
  background-color: #ffa726;
  border-radius: 41px;
  padding: 6rem 2rem;
}
.features {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .features {
    font-size: 15px;
  }
  .cardTwo {
    padding: 4rem 1.5rem;
  }
}
