.mainDiv {
  /* border: 2px solid red; */
  margin-top: 8rem;
}
.topPara {
  color: #000000;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 15%;
  text-align: center;
}
.paraOne {
  color: #000000;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 31px;
  letter-spacing: 1.55px;
  letter-spacing: 5%;
  width: 100%;
  max-width: 835px;
  line-height: 135%;
}
.paraTwo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 1.55px;
  width: 100%;
  max-width: 835px;
}
@media (max-width: 576px) {
  .paraOne {
    font-size: 25px;
    line-height: 126%;
  }
  .paraTwo {
    font-size: 17px;
  }
}
