.mainDiv {
  margin-top: 5rem;
}
.topSpan {
  color: #0fe5f5;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
}
.topHeading {
  color: #0e032d;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
.mainPara {
  color: #505c7e;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.mainParaSpan {
  color: #505c7e;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.customBtn {
  background-color: #0fe5f5;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  border: none;
  padding: 1rem;
}
.customBtn:hover {
  background-color: #0fe5f5;
  color: #ffffff;
}
@media (max-width: 576px) {
  .mainDiv {
    margin-top: 2.5rem;
  }
  .topSpan {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
  }
  .topHeading {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  .mainPara {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .customBtn {
    font-size: 14px;
    line-height: 14px;
  }
}
